*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
}

.container {
    background-color: rgb(15, 15, 15);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px hsla(208, 100%, 66%, 0.169);
    color: white;
    position: fixed;
    top: 30px;
    left: 210px;
    right: 30px;
    min-height: 10vh;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-color: hsla(208, 100%, 66%, 0.169) rgb(15, 15, 15);
    scrollbar-width: thin;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 35px;
    border-top: 5px double grey;
    padding-top: 12px;
}

.btn {
    /*background-color: hsl(200, 100%, 50%);*/
    background-color: rgb(15, 15, 15);
    /*border: 1px solid hsl(200, 100%, 30%);*/
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    padding: 5px, 10px;
    color: white;
    /*outline: none;*/
    text-align: left;
    border-width: 2px;
    width: fit-content;
    font-size: 19px;
}

.btn:hover {
    text-shadow: 1px 1px 16px rgb(3, 0, 207);
}

.leftPanel {
    width: 180px;
    height: 100%;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    left: 0;
    top: 0;
    position: fixed;
    font-size: 55px;
}

.leftPanel h1 {
    font-size: 25px;
    background: linear-gradient(to right, hsl(231, 100%, 66%), hsla(208, 100%, 79%, 0.865));
    color: transparent;
    background-clip: text;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    border-bottom: 5px double hsla(208, 100%, 66%, 0.169);
    padding-bottom: 15px;
    text-align: center;
}